apiVersion: v1
kind: Service
metadata:
  name: gateway
  namespace: ebank  
  labels:
    app: gateway
spec:
  ports:
    - port: 8080
      targetPort: 8080
      name: http
  selector:
    app: gateway
  type: NodePort

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway
  namespace: ebank  
  labels:
    app: gateway
spec:
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
        - name: gateway
          image: h4mdi/ebank-gateway:latest
          ports:
            - containerPort: 8080
              name: http
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "docker"
            - name: EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE
              value: "http://discoveryserver:8761/eureka/"
