apiVersion: v1
kind: Service
metadata:
  name: userservice
  namespace: ebank
  labels:
    app: userservice
spec:
  ports:
    - port: 8081
      targetPort: 8081
      name: http
  selector:
    app: userservice
  type: ClusterIP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: userservice
  namespace: ebank
  labels:
    app: userservice
spec:
  selector:
    matchLabels:
      app: userservice
  template:
    metadata:
      labels:
        app: userservice
    spec:
      containers:
        - name: userservice
          image: h4mdi/ebank-user:latest
          ports:
            - containerPort: 8081
              name: http
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "docker"
            - name: EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE
              value: "http://discoveryserver:8761/eureka/"
            - name: SPRING_DATASOURCE_URL
              value: "jdbc:postgresql://postgres:5432/ebank_users"
            - name: SPRING_DATASOURCE_USERNAME
              value: "postgres"
            - name: SPRING_DATASOURCE_PASSWORD
              value: "postgres"
